node_modules
collection_schema.json
out.json

# Intellij
.idea/

#vscode
.vscode/

### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Test and coverage reports
.tmp/
.coverage/
.nyc_output/
